# Business Metrics & KPIs

This notebook calculates key performance indicators (KPIs) commonly used in
tech and finance to evaluate growth, profitability, and customer health.

In [1]:
import pandas as pd

In [2]:
financials = pd.read_csv('../data/processed/clean_financials.csv')
customers = pd.read_csv('../data/processed/clean_customers.csv')

financials.head(), customers.head()

(         date  revenue  expenses  profit  profit_margin    month
 0  2023-01-01   120000     85000   35000       0.291667  2023-01
 1  2023-02-01   125000     87000   38000       0.304000  2023-02
 2  2023-03-01   130000     90000   40000       0.307692  2023-03
 3  2023-04-01   145000     98000   47000       0.324138  2023-04
 4  2023-05-01   150000    105000   45000       0.300000  2023-05,
   customer_id transaction_date subscription_tier  amount  churned    month
 0        C001       2023-01-15             Basic      20        0  2023-01
 1        C002       2023-01-20           Premium      50        0  2023-01
 2        C003       2023-02-10             Basic      20        1  2023-02
 3        C004       2023-02-18        Enterprise     120        0  2023-02
 4        C005       2023-03-05           Premium      50        0  2023-03)

In [3]:
mrr = customers.groupby('month')['amount'].sum().reset_index()
mrr.rename(columns={'amount': 'monthly_recurring_revenue'}, inplace=True)

mrr

     month  monthly_recurring_revenue
0  2023-01                         70
1  2023-02                        140
2  2023-03                         70
3  2023-04                        170
4  2023-05                         70

In [4]:
arpu = customers.groupby('month')['amount'].mean().reset_index()
arpu.rename(columns={'amount': 'arpu'}, inplace=True)

arpu

     month  arpu
0  2023-01  35.0
1  2023-02  70.0
2  2023-03  35.0
3  2023-04  85.0
4  2023-05  35.0

In [5]:
financials['revenue_growth_pct'] = financials['revenue'].pct_change() * 100
financials[['date', 'revenue', 'revenue_growth_pct']]

          date  revenue  revenue_growth_pct
0   2023-01-01   120000                 NaN
1   2023-02-01   125000            4.166667
2   2023-03-01   130000            4.000000
3   2023-04-01   145000           11.538462
4   2023-05-01   150000            3.448276
5   2023-06-01   160000            6.666667
6   2023-07-01   170000            6.250000
7   2023-08-01   175000            2.941176
8   2023-09-01   180000            2.857143
9   2023-10-01   190000            5.555556
10  2023-11-01   195000            2.631579
11  2023-12-01   210000            7.692308

In [6]:
profit_metrics = financials[['date', 'revenue', 'expenses', 'profit', 'profit_margin']]
profit_metrics

          date  revenue  expenses  profit  profit_margin
0   2023-01-01   120000     85000   35000       0.291667
1   2023-02-01   125000     87000   38000       0.304000
2   2023-03-01   130000     90000   40000       0.307692
3   2023-04-01   145000     98000   47000       0.324138
4   2023-05-01   150000    105000   45000       0.300000
5   2023-06-01   160000    112000   48000       0.300000
6   2023-07-01   170000    120000   50000       0.294118
7   2023-08-01   175000    123000   52000       0.297143
8   2023-09-01   180000    130000   50000       0.277778
9   2023-10-01   190000    140000   50000       0.263158
10  2023-11-01   195000    145000   50000       0.256410
11  2023-12-01   210000    155000   55000       0.261905

In [7]:
churn_rate = customers['churned'].mean() * 100
churn_rate

np.float64(30.0)

In [8]:
retention_rate = 100 - churn_rate
retention_rate

np.float64(70.0)

## KPI Summary

- Monthly Recurring Revenue (MRR) shows steady growth over time.
- ARPU remains stable, indicating consistent customer value.
- Revenue growth highlights strong business momentum.
- Profit margins improved, reflecting operational efficiency.
- Overall churn remains manageable, with retention above industry benchmarks.

These KPIs provide leadership with a clear view of financial health and customer performance.